@import "variable";

.h1 {
  font-size: 1rem;
  color: $red-color;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h2{
  text-align: center;
}
.avatar{
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    margin-left: 12px;
    object-fit: cover;
    width: 28px;
}

.logo{
  border-radius: 6px;
  flex-shrink: 0;
  height: 30px;
  object-fit: contain;
  width: 30px;
   font-family: 'Montserrat'
}

.content-header{
  display: flex; 
  justify-content: center; 
  align-items: center;
}