<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img
      src="https://static.fullstack.edu.vn/static/media/f8-icon.7ad2b161d5e80c87e516.png"
      style="border-radius: 6px;
    flex-shrink: 0;
    height: 38px;
    object-fit: contain;
    width: 38px;
     font-family: 'Montserrat'"
    />
    <a class="navbar-brand ml-2" href="/">F8 Fullstack</a>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="justify-content: space-between; align-items: center;"
    >
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Search</button>
      </form>

      <div
        class=""
        style="display: flex; justify-content: center; align-items: center;"
      >
        <img
          class="avatar"
          style="border-radius: 50%;
    cursor: pointer;
    height: 28px;
    margin-left: 12px;
    object-fit: cover;
    width: 28px;"
          src="https://static.fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
        />
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Bảo Phùng
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Đăng kí khóa học</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/courses">Khóa học của tôi</a>
              <a class="dropdown-item" href="#">Bài viết của tôi</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>