<div class="mt-4">
  <div class="row container">
    <div class="col-sm-6 col-lg-4 container row">
      {{#each course}}
        <div class="card">
          <img src={{this.image}} class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">Mua khóa học</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>