<div class="form-input mt-4">
  <form method="get" action="/app">
    <div class="form-group">
      <label for="exampleInputEmail1">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập từ khóa..."
        name="q"
      />
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>